
.fotos {
  /* width: 50%; */
  height: 835px;
  float: left;
}

.left {
    float: left;
    width: 50%;
    /* background-color: black; */
}
.right {
    float: right;
    width: 50%;
}
img {
    max-width: 100%;
    height: auto;
}
.group:after {
    content:"";
    display: table;
    clear: both;
}
@media screen and (max-width: 480px) {
    .left, .right {
        float: none;
        width: auto;
    }
}

@font-face {
    font-family: HelveticaModos;
    src: url("./fonts/HelveticaNeueLTStd-Lt.otf") format("opentype");
    text-align: center;
    font-size: 180px;
}
