.left {
    float: left;
    width: 50%;
    /* background-color: black; */
}
.right {
    float: right;
    width: 50%;
    height: 100%;
    display: table-cell;

    vertical-align: middle;
    text-align: center;
}

.fotos {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    height:100vh;
    float: left;
}

.logotipo {
    max-width: 20%;
    display:inline;
}

.group:after {
    content:"";
    display: table;
    clear: both;
}
@media screen and (max-width: 480px) {
    .left, .right {
        float: none;
        width: auto;
    }
}

.header {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

@font-face {
    font-family: HelveticaModos;
    src: url("./fonts/HelveticaNeueLTStd-Lt.otf") format("opentype");
    text-align: center;
    font-size: 180px;
}

.vertical-align {
    padding-top: 25%;
    display: inline-block;
}